* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* Colors */
  --white-color: black;
  --dark-color: #eeaac3;
  --primary-color: #ffffff;
  --secondary-color: pink;
  --light-pink-color: #f1dfdc;
  --medium-gray-color: #fff9e0;
  /* Font size */
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;
  /* Font weight */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  /* Border radius */
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;
  /* Site max width */
  --site-max-width: 1300px;
}

html {
  scroll-behavior: smooth;
}
/* Stylings for whole site */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  background: none;
  border: none;
}
img {
  width: 100%;
}
header {
  z-index: 5;
  width: 100%;
  position: fixed;
  background: var(--primary-color);
}
header .navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  max-width: var(--site-max-width);
}
.navbar .nav-logo .logo-text {
  color: var(--white-color);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}
:where(section, footer) .section-content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: var(--site-max-width);
}
section .section-title {
  text-align: center;
  padding: 60px 0 100px;
  text-transform: uppercase;
  font-size: var(--font-size-xl);
}
section .section-title::after {
  content: "";
  width: 80px;
  height: 5px;
  display: block;
  margin: 10px auto 0;
  background: var(--secondary-color);
  border-radius: var(--border-radius-s);
}

.books-section {
  color: var(#321037);
  background: var(--dark-color);
  padding: 50px 0 100px;
}

.books-name {
  color: #321037;
  font-size: 20px;
}
.books-section .books-list {
  display: flex;
  gap: 110px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.books-section .books-list .books-item {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: calc(100% / 3 - 110px);
}
.books-section .books-list .books-item .books-image {
  width: 83%;
  aspect-ratio: 1;
  margin-bottom: 15px;
  object-fit: contain;
}
.books-section .books-list .books-item .name {
  margin: 12px 0;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-semibold);
}
.books-section .books-list .books-item .text {
  font-size: var(--font-size-m);
}

.books-image {
  width: 200px;
  height: 200px;
}

.books-text {
  font-size: 30px;
}

a.books-show-link {
  color: #341034;
  font-size: 18px;
  margin-left: 50px;
  justify-content: flex-end;
  text-decoration-line: underline;
}

a.books-show-link:hover {
  color: white;
  text-decoration-line: none;
}
/* Responsive media query code for max width 1024px */
@media screen and (max-width: 1024px) {
  .books-section .books-list {
    gap: 60px;
  }
  .books-section .books-list .books-item {
    width: calc(100% / 3 - 60px);
  }
}
/* Responsive media query code for max width 900px */
@media screen and (max-width: 900px) {
  :root {
    --font-size-m: 1rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.8rem;
  }
  body.show-mobile-menu {
    overflow: hidden;
  }
  body.show-mobile-menu header::before {
    content: "";
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.2);
  }
  .navbar :is(#menu-open-button, #menu-close-button) {
    font-size: var(--font-size-l);
    display: block;
  }
  .navbar :is(#menu-open-button, #menu-close-button):hover {
    color: var(--secondary-color) !important;
  }
  .navbar #menu-open-button {
    color: #fff;
  }
  .navbar .nav-menu #books-close-button {
    position: absolute;
    right: 30px;
    top: 30px;
  }
  .navbar .nav-menu {
    display: block;
    background: #fff;
    position: fixed;
    top: 0;
    left: -300px;
    height: 100%;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    transition: left 0.2s ease;
  }
  body.show-mobile-books .nav-menu {
    left: 0;
  }
  .navbar .nav-menu .nav-link {
    display: block;
    margin-top: 17px;
    padding: 10px 22px;
    color: var(--dark-color);
    font-size: var(--font-size-l);
  }
  .hero-section .section-content {
    text-align: center;
    gap: 50px;
    padding: 30px 20px 20px;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .hero-section .hero-details :is(.subtitle, .description),
  .about-section .about-details,
  .contact-section .contact-form {
    max-width: 100%;
  }
  .hero-section .hero-details .buttons {
    justify-content: center;
  }
  .hero-section .hero-image-wrapper {
    max-width: 270px;
    margin-right: 0;
  }
  .about-section .section-content {
    gap: 70px;
    flex-direction: column-reverse;
  }
  .about-section .about-image-wrapper .about-image {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    max-width: 250px;
  }
  .books-section .books-list {
    gap: 30px;
  }
  .books-section .books-list .books-item {
    width: calc(100% / 2 - 30px);
  }
  .books-section .books-list .books-item .books-image {
    max-width: 200px;
  }
  .gallery-section .gallery-list {
    gap: 30px;
  }
  .gallery-section .gallery-list .gallery-item {
    width: calc(100% / 2 - 30px);
  }
  .contact-section .section-content {
    align-items: center;
    flex-direction: column-reverse;
  }
}
/* Responsive media query code for max width 640px */
@media screen and (max-width: 640px) {
  .books-section .books-list .books-item,
  .gallery-section .gallery-list .gallery-item {
    width: 100%;
  }
  .books-section .books-list {
    gap: 60px;
  }
  .reviews-section .slider-wrapper {
    margin: 0 0 30px;
  }
  .reviews-section .swiper-slide-button {
    display: none;
  }
  .footer-section .section-content {
    flex-direction: column;
    gap: 20px;
  }
}
